<!DOCTYPE html>
<html>
<head>
    <title>GRUMBLR</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    {% load staticfiles %}
    <link href= {% static "css/bootstrap.min.css" %} rel="stylesheet" media="screen">
    <link href= {% static "css/grumblr.css" %} rel="stylesheet" media="screen">
    <link href= {% static "css/forgot_password.css" %} rel="stylesheet" media="screen">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="../../assets/js/html5shiv.js"></script>
    <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
    <link rel='shortcut icon' type='image/x-icon' href= {% static "images/favicon.ico" %} />
    <link rel="icon" type="image/ico" href= {% static "images/favicon.ico" %}>
</head>

<body>

    <nav class="navbar navbar-default navbar-fixed-top header-nav" role="navigation">
        <div class="navbar-inner">
            <div class="container-fluid" style="text-align: center; height: 100%;">
                <a class="brand" href="#" style="margin:0 auto; float: none;">
                    <img src= {% static "images/logo_small.png" %} alt="NOT LOADED" class="img-rounded" id="logo">
                </a>
            </div>
        </div>
    </nav>

    <div class="container">
        <div id="forgot_password_form">
            <form action={% url "send_password_reset" %} method="get" accept-charset="UTF-8">{% csrf_token %}
                <div id="instruction_text">Enter your username below and press the send button. An email will be sent to your registered email detailing the instructions for resetting your password.</div>
                <span id="input_label">Username:</span>
                <input type="text" name="username"></input>
                <button class="btn btn-sm btn-primary btn-block" type="submit">Reset my password</button>
            </form>
            <div id="error">{{error}}</div>
        </div>
    </div>

    <script language="javascript">var STATIC_URL = "{{ STATIC_URL }}";</script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src= {% static "scripts/jquery-1.8.2.min.js" %}></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src= {% static "scripts/bootstrap.min.js" %}></script>
  </body>
</html>

